<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DnDPlayerTracker" connectionString="Server=localhost;Database=DnDPlayerTracker;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="DnDPlayerTrackerUI.Properties.Settings.DnDPlayerTrackerConnectionString"
      connectionString="Data Source=ULTRON;Initial Catalog=DnDPlayerTracker;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>